.codint[data-mode=dark]{
    --color-fondo: #272822 ;
    --color-texto: white;
    --color-borde: #891d1d;
    --color-borde-b: #d3caca14; 
    --color-activ: white;
    --color-svguv: white;
    --color-terminal: rgba(255, 255, 255, 0.031);
    --color-theme: #009688;
    --color-theme-b: #8ecd90;
    --color-error: #381515;
    --color-warning:#6a6539;
}

.codint[data-mode=light]{
    --color-fondo: white ;
    --color-texto: black;
    --color-borde: red;
    --color-borde-b: #d3caca;
    --color-activ: black;
    --color-svguv: black;
    --color-terminal: rgb(0 0 0 / 14%);
    --color-theme: #009688;
    --color-theme-b: #8ecd90;
    --color-error: #cc7676;
    --color-warning:#fff27e;
}

._codint-active{
    text-decoration: overline;
    /**border-bottom: 1px solid var(--color-activ);**/
}

._codint-oculto{
    display:none;
}
._codint-visible{
    display:flex;
}

.codint svg{
    fill:var(--color-svguv);
}

.codint span{
    padding-left: 5px;
    cursor: default;
}

.codint a{
    color: var(--color-theme);
}
.codint a:focus, a:hover {
    color: var(--color-theme-b);
}

.codint {
    --color-fondo: white ;
    --color-texto: black;
    --color-borde: red;
    --color-borde-b: #d3caca;
    --color-activ: black;
    --color-svguv: black;
    --color-terminal: rgb(0 0 0 / 14%);
    --color-theme: #009688;
    --color-theme-b: #8ecd90;
    --color-error: #cc7676;
    --color-warning:#fff27e;
    
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 50%; */
    background-color: var(--color-fondo) ;
    color: var(--color-texto) ; 
    transition: transform 0.3s;
    z-index: 100;
    overflow: none;
}

.codint p{
    
margin: 0px 0px 0px 0px;

}
/* Estilos de la barra de desplazamiento para el elemento .codint y sus hijos */
.codint::-webkit-scrollbar {
  width: 10px; /* Grosor de la barra de desplazamiento vertical */
  height: 10px; /* Grosor de la barra de desplazamiento horizontal */
  background-color: #f0f0f0; /* Color de fondo de la barra de desplazamiento */
}

.codint::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del "cursor" de la barra de desplazamiento */
  border-radius: 5px; /* Redondea los bordes del "cursor" */
}

.codint::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del "cursor" cuando se pasa el mouse por encima */
}


._codint-top{
    position: inherit;
    border-top: 2px solid var(--color-borde);
}

._codint-menu{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
}

._codint-menu-i{
    display: flex;
    align-items: center;
    flex-direction: row;
}
._codint-menu-op-c{
    font-size: 10px;
}
._codint-menu-d{
    display: flex;
    align-items: center;
    flex-direction: row;
}

._codint-menu-i .op,
._codint-menu-d .op{
    padding: 0px 2px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace;
    color: var(--color-texto);
    margin: 5px 2px 5px 2px;
    cursor: default;
}
 
._codint-content{
    border-top: 1px solid var(--color-borde);
    height: 250px;
}

._codint-content[data-mode=true]{display:none;}

._codint-content_files{
    width: 100%;
    height: 100%;
}




._codint-content_files_files{
    background: var(--color-fondo);
    color: var(--color-texto);
    
}

._codint-content_files_code{
    width: 100%;
    border-left: 1px solid var(--color-borde);
}
 
.__console_editor__{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3px 5px 0px 5px;
    margin: 0px;
}
._codint-content_files_bottom{
    position: absolute;
    right: 0;
}

.__console_editor_archivos { padding-left: 10px; color: #797bf2; }
.__console_editor_carpeta{ color: #797bf2; background: rgb(148 148 148 / 24%); }
.__console_editor_carpeta a { color: #fff; }

.__console_editor_icono{
    padding-right: 5px;
}

.__console_editor_file_{
    display: flex;color: white; flex-direction: row;align-items: center;
}
.__console_editor_file_ p{
    margin: 5px 0px 5px 0px;
    color:var(--color-texto);
    cursor: default;
}


._codint-content_consola{
    width: 100%;
    height: 100%;
    overflow: auto; 
    background: var(--color-fondo);
    flex-direction: column;
}

._codint-content_settings{
    width: 100%;
    height: 100%;
}




@media (max-width: 767px) {
    ._codint-menu-op-10{
        display:none !important ;
    }
    ._codint-menu-op-11{
        display:none !important ;
    }
    ._codint-menu-c{
        display:none !important ;
    }
}
.__console_editor_carpeta {  cursor: pointer; list-style: none;}
.__console_editor_archivos {display: none;}
.__console_editor_desplegado {display: block; }


.console-mensaje p {
    background: var(--color-terminal);
    color: var(--color-texto);
    font-size: 12px;
    margin: 0px;
    padding: 2px 5px 0px 5px;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace;
    cursor: pointer;
    border-bottom: 1px solid var(--color-borde-b);
    
    display: flex; 
    flex-direction: row;
    width: 100%;
    
}

.console-mensaje .Mensaje{
    background: var(--color-terminal) !important;
    color: var(--color-texto) !important;
}
.console-mensaje .Error{
    background: var(--color-error) !important;
    color: var(--color-texto) !important;
}
.console-mensaje .Warning{
    background: var(--color-warning) !important;
    color: var(--color-texto) !important;
}

.console-mensaje p span {
    padding-right: 5px;
}

.cmdLine {
    font-family: consolas,monospace;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    max-width: 100%;
    padding-left: 5px;
    width: 100%;
    color: var(--color-texto);
}

.actmd {
    height: auto;
    display: flex
}

.ipcmd {
    background: inherit;
    color: inherit;
    font-family: inherit;
    padding-right: 100px;
    position: relative;
    caret-color: transparent;
    margin: 0;
    width: 90%;
}

.ipcmd:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 8px;
    height: 1px;
    background: #ccc;
    animation: blink 1s step-end infinite
}

.ipcmd:active,.ipcmd:focus {
    outline: none;
    border: none;
    caret-color: var(--color-texto);
}

.ipcmd:active:after,.ipcmd:focus:after {
    display: none
}

@keyframes blink {
    0%,to {
        background: transparent;
    }
    50% {
        background: var(--color-texto);
    }
}

._codint-content_files_files_tem{ 
    overflow-y: clip;
    overflow-x: hidden;
}
.sidebar{
  display: flex;
    flex-direction: column;
  height: 100%;
  width: 260px;
  background: var(--color-fondo);
  z-index: 100;
  transition: all 0.5s ease;
  font-size:12px;
} 
.sidebar.close{
  width: 50px;
}
.sidebar .logo-details{ 
  
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  color: #fff;
   
  min-width: 50px;
  text-align: center;
  line-height: 30px;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{ 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: var(--color-terminal);
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 30px;
  min-width: 50px;
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-weight: 400;
  color: var(--color-texto);
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 0px 0px 0px 17px;
    background: var(--color-borde-b);
    display: none;
    flex-direction: column;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: flex;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff; 
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
      width: 100%;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  /**display: none;**/
}
.sidebar.close .nav-links li .sub-menu .link_name{
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  cursor: default;
  display: flex;
  align-items: center;
  background: var(--color-terminal);
  padding: 5px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 14px 0 12px; 
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 1px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
} 
